<header class="d-flex align-items-center justify-content-between border-bottom px-3 py-2">
    <!-- Logo y título -->
    <a class="d-flex align-items-center gap-2 text-decoration-none text-dark fw-semibold" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-bar-chart-fill" width="24" height="24" fill="currentColor"
            viewBox="0 0 16 16">
            <path
                d="M11 1a1 1 0 0 1 1 1v11h1V2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v11h-1V2a1 1 0 0 1-1-1h-1a1 1 0 0 1-1 1v11h-1V2a1 1 0 0 1-1-1H4a1 1 0 0 1-1 1v11H2V2a1 1 0 0 1 1-1h8z">
            </path>
        </svg>
        <span>Financial Analytics</span>
    </a>

    <!-- Menú de usuario -->
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H3zM8 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <span class="visually-hidden">Toggle user menu</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item d-flex align-items-center gap-2" routerLink="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-box-arrow-right" width="16" height="16"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 13a.5.5 0 0 1-.5-.5v-3H1.5a.5.5 0 0 1 0-1h4v-3A.5.5 0 0 1 6 5h5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H6z" />
                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3V9h3v-.5z" />
                    </svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</header>