<div class="container">
  
  <!-- Carrusel de gráficos -->
  <p-carousel [value]="chartsData"  [numVisible]="1"
    [numScroll]="1" [circular]="true" >
    <ng-template let-chart pTemplate="item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{ chart.title }}</h5>
          <p-chart type="bar" *ngIf="chart.type === 'bar'" [data]="chart.data"></p-chart>
          <p-chart type="line" *ngIf="chart.type === 'line'" [data]="chart.data"></p-chart>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <!-- Sección de noticias -->
  <div class="mt-4">
    <h3>Noticias Financieras</h3>
    <div *ngFor="let news of newsItems" class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="news.image" class="img-fluid rounded-start" alt="Imagen noticia">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.summary }}</p>
            <p class="card-text">
              <small class="text-muted">{{ news.date }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>